<div class="row d-flex align-items-center flex-column bd-highlight mb-3 mt-5"" ng-controller="CategoriesCtrl as cc">
    <button ng-click="cc.toggleCategories()" class="btn btn-light mb-2">
        {{ cc.showCategories? "Ocultar " : "Mostrar "}}Categorias
    </button>
    <div ng-show="cc.showCategories" class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" ng-repeat="cate in cc.categories" ng-click="vm.onCategoryClick(cate)">
            <input type="radio" name="options" id="{{cate}}" autocomplete="off" > {{cate}}
        </label>
        <label class="btn btn-secondary active" ng-click="vm.onCategoryClick()">
            <input type="radio" name="options" id="mostrarTodos" autocomplete="off" > Mostrar Todos
        </label>
    </div>
</div>


<div class="row">
    <fieldset>
        <legend class="titulo">Destacados</legend>
    </fieldset>
</div>
<div class="row col-md-12">
    

    <div class="card-deck col-sm-6 col-md-4" ng-repeat="newsItem in vm.news | filter: {destacado: true} | filter: {categoria: vm.filterCategory} | orderBy: '-fechaPublicacion'">

            <div class="card p-2">
                
                    <img ng-src="{{ newsItem.banner }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{newsItem.tituloNoticia}}</h5>
                        <p class="card-text">{{newsItem.descripcionNoticia.substring(0,200) + "..."}} </p>
                    </div>
                    <div class="p-2">
                        <a ui-sref="newsDetail({idNoticia: newsItem.idNoticia})" class="btn btn-primary">Leer mas</a>
                        <a href="#" class="btn btn-light">Editar</a>
                    </div>
                    
                    <div class="card-footer">
                        <small class="text-muted">{{newsItem.fechaPublicacion | date}}</small>
                    </div>
                
            </div> <!-- Card -->

    </div>  
</div>


<div class="row">
    <fieldset>
        <legend class="titulo">Ultimas noticias</legend>
    </fieldset>
</div>
<div class="row col-md-12">
    

    <div class="card-deck col-sm-4 col-md-3" ng-repeat="newsItem in vm.news | filter: {destacado: false} | filter: {categoria: vm.filterCategory} | orderBy: '-fechaPublicacion'">

            <div class="card p-2">
                
                    <img ng-src="{{ newsItem.banner }}" class="card-img-top banner-small">
                    <div class="card-body">
                        <h6 class="card-title">{{newsItem.tituloNoticia}}</h6>
                        <p class="card-text">{{newsItem.descripcionNoticia}} </p>
                    </div>
                    <div class="p-2">
                        <a ui-sref="newsDetail({idNoticia: newsItem.idNoticia})" class="btn btn-primary btn-sm">Leer mas</a>
                        <a href="#" class="btn btn-light btn-sm">Editar</a>
                    </div>
                    
                    <div class="card-footer">
                        <small class="text-muted">{{newsItem.fechaPublicacion | date}}</small>
                    </div>
                
            </div> <!-- Card -->

    </div>  
</div>